/*地圖基本框架設定*/
#map{
	width: 350px;
	height: 600px;
	box-shadow: 2px 2px 2px 3px #ccc;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
#msg{
	color: #33C526;
	font-size:20px;
	font-weight: bold;
	/*粗體*/
}
